
.header{
    text-align: center;
    justify-content: space-around;
    
}

.banner-title{
    color: #FFF;

text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: absolute;
padding-left:550px ;
padding-top:100px ;
}
.banner-sub-title{
    width: 632px;
    color: #FFF;   
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
position: absolute;
padding-left:350px ;
padding-top: 120px;



}
.banner-iamge{
    background-position: Top right;
    
}

.banner{
    
    width: 1320px;
height: 600px;
background-position: center top;
margin: 260px;
    margin-top: 20px;

}
.New-year-sell{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 300px;
}
.New-year-sell-info{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;

margin-top: 200px;



}
.New-year-sell-categoeies{
    color: #070211;

text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.selling-info-pic{
width: 802.9px;
height: 500px;
flex-shrink: 0;
background-position: center;
justify-content: space-around;
margin-left: 400px;
margin-bottom:150px ;
}

.Welcome-to-the-party{
width: 642px;
 color: rgba(255, 255, 255, 0.80);;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; 
letter-spacing: 7.04px;
position: absolute;
margin-left: 300px;
}

.party-description{
    width: 697px;
    color:#FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    position: absolute;
    margin-top: 230px;
    margin-left: 300px;
}
.welcome-party-backround{
    margin-left: 260px;
    align-items: center;
    display: flex;
   
}
.btn{
    color: #FFF;
background: none;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
border: none;

position: absolute;
}
.typo{
    color: #F00;

text-align: center;

font-size: 32px;

font-weight: 600;
line-height: 56px; 

}

.primary-font{
color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
margin-top: 230px;
margin-left: 300px
align-items: center;

   

}
.button{
    border-radius: 8px;
    background: #F00;
    border: 0;
    color: #FFF;
    padding: 16px 32px;
   display: flex;

   list-style: none;
   margin-left: 600px;

}
.background{
    border-radius: 16px;
    list-style: none;
    
    width: 1320px;
    height: 482px;
    padding:50px 50px   ;
    background-color: rgb(240, 192, 208);
    margin-top: 130px;
    margin-left:198px ;

}
.sale-title{
color: #070211;
font-size: 24px;
font-weight: 500;
text-align: center;
margin bottom: 16px;
}
.sale-sub-title{
color: #F00;

text-align: center;
font-family: Merriweather;
font-size: 72px;

font-weight: 900;

;
}
.secondary-font{
 color: #070211;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
margin: 16px;

}
.sale-description{

   text-align: center;
   margin-top: 40px;
  
}
.product-list-title{
    color: #F00;  
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    display: flex;
    text-align: center;
   
}
.product-list-title-sub-title{
    color: #070211;

font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;


}
.product-list-title-description{
 width: 896px;
color: rgba(7, 2, 17, 0.60);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; 

display: flex;
}
.product-pic-top{
    margin: 4px;
    justify-content: space-between;
    display: flex;
    
}
.product-pic-bottom{
    margin: 4px;
    justify-content: space-between;
    display: flex;
    
}


.sell-iamge{
width: 1320px;
height: 229px;
border-radius: 16px 0px 16px 16px;
background: #F00;
padding-top:  200px;
gap: 40px;
margin-left: 250px;
margin-top: 5px;
padding-left: 432px 0.07px;

}

.second-sell-image{
    width: 429px;
height: 433px;
margin-bottom: 5px;
margin-left: 1137px;
border-radius: 16px 16px 0px 0px;


}
.email-sec-img{
    align-items: center;
    padding-left:600px  ;
    display: flex;
    
}
.email-sec{
    align-items: center;
    text-align: center;
  


}
.email-sec-description{
    text-align: center;
}
.left-btn{
    position: absolute;
    width: 648px;
    height: 72px;
   text-align: center;
  margin-bottom: 300px;
  margin-left: 170px;
   font-size: 18px;
   border-radius: 50px 0px 0px 50px;
   background: blanchedalmond;
  
   border: none;
}
.right-btn{
    position: absolute;
    width: 210px;
    margin-bottom: 700px;
height: 72px;

border-radius: 0px 50px 50px 0px;
margin-left:   800px;
background: #F00;
font-size: 18px;
border: none;
}

.em-sec{
    border-radius: 16px;
    list-style: none;
    
    width: 1300px;
    height: 462px;
    padding:50px 50px   ;
    margin-top: 180px;
    margin-left: 250px ;
    background: rgba(255, 0, 0, 0.05);
}
.section{
    display: flex;
    align-items: center;

}
.top-left{
    align-items: center;
    color: #FFF;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
text-align: top left;
}
.bottom-left{
color: #FFF;
font-size: 24px;
font-style: normal;
font-weight: 500;
text-align: bottom;
margin-bottom: 50px;
}
.box{
width: 1600px;
height: 609px;
background: #070211;
padding: 250px 140px 359px ;

}
.right-bottom{
    color: #FFF;
font-size: 24px;
font-style: normal;
font-weight: 500;
text-align: right ;
margin-bottom: 50px;
}
.social-media{
    display: flex;
    justify-content: center;
    
    gap: 10px;
}





    













